.version.index /* version checker */
{
	color: #000015;
	background-color: #BD90AA;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 4019px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 274px;
	width: 0.01px;
}

#u124
{
	z-index: 346;
	height: 111px;
	background-color: #000000;
}

#u124-bw
{
	z-index: 346;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#home
{
	position: relative;
}

#u149
{
	z-index: 351;
	width: 48px;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 20px;
}

#u132-4
{
	z-index: 347;
	width: 274px;
	min-height: 25px;
	background-color: transparent;
	line-height: 37px;
	color: #FFFFFF;
	font-size: 31px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 21px;
	left: 79px;
}

#u743
{
	z-index: 372;
	width: 31px;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 397px;
}

#u158-4
{
	z-index: 357;
	width: 84px;
	min-height: 31px;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	text-align: left;
	font-size: 23px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 20px;
	left: 433px;
}

#u751
{
	z-index: 374;
	width: 31px;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 553px;
}

#u749-4
{
	z-index: 361;
	width: 131px;
	min-height: 31px;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	text-align: left;
	font-size: 23px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 20px;
	left: 589px;
}

#u868
{
	z-index: 376;
	width: 31px;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 761px;
}

#u750-4
{
	z-index: 365;
	width: 144px;
	min-height: 31px;
	background-color: transparent;
	line-height: 28px;
	color: #FFFFFF;
	text-align: left;
	font-size: 23px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 20px;
	left: 796px;
}

#u156-4
{
	z-index: 353;
	width: 112px;
	min-height: 27px;
	background-color: transparent;
	line-height: 12px;
	color: #FFFFFF;
	text-align: left;
	font-size: 10px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 58px;
	left: 79px;
}

#u161
{
	z-index: 369;
	width: 43px;
	height: 2px;
	background-color: #FFFFFF;
	position: fixed;
	top: 60px;
	left: 433px;
}

#u162
{
	z-index: 370;
	width: 43px;
	height: 2px;
	background-color: #FFFFFF;
	position: fixed;
	top: 60px;
	left: 607px;
}

#u163
{
	z-index: 371;
	width: 43px;
	height: 2px;
	background-color: #FFFFFF;
	position: fixed;
	top: 60px;
	left: 816px;
}

#u114
{
	z-index: 379;
	width: 50px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -179px;
	margin-top: 67px;
	position: relative;
}

#pu75
{
	width: 0.01px;
	margin-left: -184px;
	margin-top: 49px;
}

#u75
{
	z-index: 378;
	width: 60px;
	min-height: 64px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u82-4
{
	z-index: 290;
	width: 248px;
	min-height: 41px;
	background-color: transparent;
	line-height: 48px;
	text-align: center;
	font-size: 40px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 540px;
}

#u170
{
	z-index: 298;
	width: 170px;
	height: 1px;
	background-color: #7F7F7F;
	margin-left: 395px;
	position: relative;
}

#u168-4
{
	z-index: 294;
	width: 351px;
	min-height: 63px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 305px;
	margin-top: 7px;
	position: relative;
}

#pu695
{
	width: 0.01px;
	margin-left: -19px;
}

#u695
{
	z-index: 206;
	width: 241px;
	min-height: 245px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u697
{
	z-index: 207;
	width: 317px;
	min-height: 245px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 599px;
}

#u171-4
{
	z-index: 299;
	width: 226px;
	min-height: 40px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 386px;
}

#u172
{
	z-index: 303;
	width: 39px;
	background-color: transparent;
	margin-left: 461px;
	position: relative;
}

#one
{
	margin-left: 20px;
	margin-top: 143px;
	position: relative;
}

#u81-4
{
	z-index: 209;
	width: 440px;
	min-height: 32px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: asap, sans-serif;
	font-weight: 700;
	margin-left: 85px;
	margin-top: 142px;
	position: relative;
}

#pu190
{
	width: 0.01px;
	margin-left: 86px;
	margin-top: 63px;
}

#u190
{
	z-index: 217;
	width: 302px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u241
{
	z-index: 279;
	vertical-align: top;
	width: 302px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	background: url("../images/u241.png") no-repeat 0px 0px;
}

.hidpi #u241
{
	background-image: url("../images/u241_2x.png");
	background-size: 302px 2px;
}

#ppu220-4
{
	width: 0.01px;
	margin-left: 86px;
	margin-top: -7px;
}

#pu220-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 12px;
}

#u220-4
{
	z-index: 286;
	width: 301px;
	min-height: 20px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#u216
{
	z-index: 285;
	width: 302px;
	min-height: 19px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u221-4
{
	z-index: 281;
	width: 142px;
	min-height: 26px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#buttonu199
{
	z-index: 218;
	width: 70px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 100px;
	margin-top: 14px;
	position: relative;
}

#buttonu199:hover
{
	background-color: #CACACA;
	width: 70px;
	min-height: 0px;
	margin: 14px 0px 0px;
}

#buttonu199.ButtonSelected
{
	background-color: #FFFFFF;
	width: 70px;
	min-height: 0px;
	margin: 14px 0px 0px;
}

#u243-4
{
	z-index: 221;
	width: 39px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	text-align: right;
	font-size: 11px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 5px;
}

#buttonu199:hover #u243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 39px;
	margin: 9px -10000px 0px 0px;
}

#u203
{
	z-index: 219;
	width: 14px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 47px;
}

#buttonu199:hover #u203
{
	width: 14px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#buttonu199.ButtonSelected #u203
{
	width: 14px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#u184-4
{
	z-index: 213;
	width: 105px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u353
{
	z-index: 280;
	width: 504px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#pamphletu291
{
	z-index: 232;
	width: 0.01px;
	height: 53px;
	margin-left: 27px;
	margin-top: 13px;
	position: relative;
}

#u292
{
	z-index: 233;
	width: 205px;
	position: relative;
	margin-right: -10000px;
}

#u294
{
	position: absolute;
	width: 205px;
	height: 53px;
	border-color: #999999;
	background-color: transparent;
}

.ie #u294
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u294:hover
{
	border-color: #6B6B6B;
	width: 205px;
	height: 53px;
	min-height: 0px;
	margin: 0px;
}

#u298
{
	position: absolute;
	width: 355px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -226px;
	left: 528px;
	-pie-background: rgba(0,0,0,0.9);
}

#u298popup
{
	z-index: 235;
}

#u303
{
	z-index: 236;
	width: 288px;
	height: 313px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-left: 9px;
	padding-top: 48px;
	padding-right: 14px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#pu328-4
{
	width: 0.01px;
	margin-left: 36px;
}

#u328-4
{
	z-index: 248;
	width: 187px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u325
{
	z-index: 246;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 197px;
}

#u321-6
{
	z-index: 237;
	width: 288px;
	min-height: 46px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-top: 38px;
	position: relative;
}

#pu322
{
	width: 0.01px;
	margin-left: 39px;
	margin-top: 25px;
}

#u322
{
	z-index: 243;
	width: 200px;
	min-height: 181px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 5px;
}

#u319
{
	z-index: 244;
	width: 95px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
}

#u626
{
	z-index: 245;
	width: 95px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 115px;
}

#pbuttonu212
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: -53px;
}

#buttonu212
{
	z-index: 225;
	width: 205px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#buttonu212:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u206
{
	z-index: 226;
	width: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 9px;
}

#buttonu212:hover #u206
{
	width: 19px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u625-4
{
	z-index: 228;
	width: 164px;
	min-height: 44px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 33px;
}

#buttonu212:hover #u625-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 164px;
	margin: 9px -10000px 0px 0px;
}

#pamphletu329
{
	z-index: 259;
	width: 0.01px;
	height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#u334
{
	z-index: 260;
	width: 205px;
	position: relative;
	margin-right: -10000px;
}

#u335
{
	position: absolute;
	width: 205px;
	height: 53px;
	border-color: #999999;
	background-color: transparent;
}

.ie #u294:hover,.ie #u335
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u335:hover
{
	border-color: #6B6B6B;
	width: 205px;
	height: 53px;
	min-height: 0px;
	margin: 0px;
}

#u336
{
	position: absolute;
	width: 360px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -218px;
	left: 271px;
	-pie-background: rgba(0,0,0,0.9);
}

#u336popup
{
	z-index: 262;
}

#u337
{
	z-index: 263;
	width: 316px;
	height: 323px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u693
{
	z-index: 264;
	width: 297px;
	min-height: 296px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 8px;
}

#u350
{
	z-index: 265;
	width: 155px;
	min-height: 141px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 79px;
}

#u343
{
	z-index: 266;
	width: 95px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 53px;
}

#u691
{
	z-index: 267;
	width: 95px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 173px;
}

#u339-4
{
	z-index: 268;
	width: 288px;
	min-height: 56px;
	background-color: transparent;
	text-align: center;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	left: 13px;
}

#u345
{
	z-index: 272;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 251px;
}

#u338-4
{
	z-index: 274;
	width: 195px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 49px;
}

#u352
{
	z-index: 278;
	vertical-align: top;
	width: 156px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 79px;
	background: url("../images/u352.png") no-repeat 0px 0px;
}

.hidpi #u352
{
	background-image: url("../images/u352_2x.png");
	background-size: 156px 2px;
}

#buttonu228
{
	z-index: 252;
	width: 205px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 244px;
}

#buttonu212.ButtonSelected,#buttonu228:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u230
{
	z-index: 257;
	width: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 7px;
}

#buttonu228:hover #u230
{
	width: 19px;
	min-height: 0px;
	margin: 18px -10000px 0px 0px;
}

#buttonu228.ButtonSelected #u230
{
	width: 19px;
	min-height: 0px;
	margin: 18px -10000px 0px 0px;
}

#u229-4
{
	z-index: 253;
	width: 164px;
	min-height: 44px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 31px;
}

#buttonu212.ButtonSelected #u625-4,#buttonu228:hover #u229-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 164px;
	margin: 9px -10000px 0px 0px;
}

#u185
{
	z-index: 208;
	width: 250px;
	min-height: 336px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 565px;
}

#two
{
	margin-left: 20px;
	margin-top: 322px;
	position: relative;
}

#u244-4
{
	z-index: 113;
	width: 613px;
	min-height: 32px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: asap, sans-serif;
	font-weight: 700;
	margin-left: 82px;
	margin-top: 182px;
	position: relative;
}

#pu245
{
	width: 0.01px;
	margin-left: 82px;
	margin-top: 21px;
}

#u245
{
	z-index: 122;
	width: 120px;
	background-color: transparent;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u248-5
{
	z-index: 117;
	width: 673px;
	min-height: 139px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 142px;
}

#ppu434
{
	width: 0.01px;
	margin-left: 82px;
	margin-top: 23px;
}

#pu434
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 221px;
}

#u434
{
	z-index: 130;
	width: 200px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u436
{
	z-index: 139;
	vertical-align: top;
	width: 202px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	background: url("../images/u436.png") no-repeat 0px 0px;
}

.hidpi #u436
{
	background-image: url("../images/u436_2x.png");
	background-size: 202px 2px;
}

#u357
{
	z-index: 129;
	width: 200px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u363
{
	z-index: 138;
	vertical-align: top;
	width: 202px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	background: url("../images/u363.png") no-repeat 0px 0px;
}

.hidpi #u363
{
	background-image: url("../images/u363_2x.png");
	background-size: 202px 2px;
}

#ppu366-4
{
	width: 0.01px;
	margin-left: 82px;
	margin-top: -6px;
}

#pu366-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 11px;
}

#u366-4
{
	z-index: 141;
	width: 351px;
	min-height: 20px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	position: relative;
}

#u364
{
	z-index: 140;
	width: 367px;
	min-height: 40px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u656-4
{
	z-index: 202;
	width: 142px;
	min-height: 26px;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	font-size: 12px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
}

#buttonu359
{
	z-index: 131;
	width: 67px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 100px;
	margin-left: 1px;
	margin-top: 11px;
	position: relative;
}

#buttonu359:hover
{
	background-color: #CACACA;
	width: 67px;
	min-height: 0px;
	margin: 11px 0px 0px 1px;
}

#buttonu359.ButtonSelected
{
	background-color: #FFFFFF;
	width: 67px;
	min-height: 0px;
	margin: 11px 0px 0px 1px;
}

#u362-4
{
	z-index: 134;
	width: 39px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	text-align: right;
	font-size: 11px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 3px;
}

#buttonu199.ButtonSelected #u243-4,#buttonu359:hover #u362-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 39px;
	margin: 9px -10000px 0px 0px;
}

#u360
{
	z-index: 132;
	width: 18px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 44px;
}

#buttonu359:hover #u360
{
	width: 18px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#buttonu359.ButtonSelected #u360
{
	width: 18px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u203_img,#u360_img
{
	padding-bottom: 2px;
}

#u355-4
{
	z-index: 125;
	width: 105px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	margin-top: 8px;
	position: relative;
}

#u369
{
	z-index: 112;
	width: 504px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
}

#pamphletu498
{
	z-index: 163;
	width: 0.01px;
	height: 56px;
	margin-left: 41px;
	margin-top: 21px;
	position: relative;
}

#u499
{
	z-index: 164;
	width: 212px;
	position: relative;
	margin-right: -10000px;
}

#u500
{
	position: absolute;
	width: 212px;
	height: 56px;
	border-color: #999999;
	background-color: transparent;
}

.ie #u335:hover,.ie #u500
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u500:hover
{
	border-color: #6B6B6B;
	width: 212px;
	height: 56px;
	min-height: 0px;
	margin: 0px;
}

#u508
{
	position: absolute;
	width: 355px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -355px;
	left: 366px;
	-pie-background: rgba(0,0,0,0.9);
}

#u508popup
{
	z-index: 166;
}

#u509
{
	z-index: 167;
	width: 311px;
	height: 376px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#pu512-4
{
	width: 0.01px;
	margin-left: 41px;
}

#u512-4
{
	z-index: 178;
	width: 193px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u516
{
	z-index: 176;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 203px;
}

#u518-6
{
	z-index: 170;
	width: 288px;
	min-height: 56px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 8px;
	margin-top: 26px;
	position: relative;
}

#pu514
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 22px;
}

#u514
{
	z-index: 168;
	width: 200px;
	min-height: 189px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u510
{
	z-index: 169;
	width: 95px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
}

#u659
{
	z-index: 182;
	width: 95px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 121px;
}

#pbuttonu646
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: -56px;
}

#buttonu646
{
	z-index: 149;
	width: 205px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#buttonu228.ButtonSelected,#buttonu646:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u647
{
	z-index: 150;
	width: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 9px;
}

#buttonu212.ButtonSelected #u206,#buttonu646:hover #u647
{
	width: 19px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u649-4
{
	z-index: 152;
	width: 164px;
	min-height: 44px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 33px;
}

#buttonu228.ButtonSelected #u229-4,#buttonu646:hover #u649-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 164px;
	margin: 9px -10000px 0px 0px;
}

#pamphletu528
{
	z-index: 183;
	width: 0.01px;
	height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 246px;
}

#u541
{
	z-index: 184;
	width: 205px;
	position: relative;
	margin-right: -10000px;
}

#u542
{
	position: absolute;
	width: 205px;
	height: 53px;
	border-color: #999999;
	background-color: transparent;
}

.ie #u500:hover,.ie #u542
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u542:hover
{
	border-color: #6B6B6B;
	width: 205px;
	height: 53px;
	min-height: 0px;
	margin: 0px;
}

#u529
{
	position: absolute;
	width: 355px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -473px;
	left: 437px;
	-pie-background: rgba(0,0,0,0.9);
}

#u529popup
{
	z-index: 186;
}

#u530
{
	z-index: 187;
	width: 311px;
	height: 321px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u509_position_content,#u530_position_content
{
	padding-top: 60px;
}

#pu534-4
{
	width: 0.01px;
	margin-left: 56px;
}

#u534-4
{
	z-index: 196;
	width: 166px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u537
{
	z-index: 194;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 172px;
}

#u532-4
{
	z-index: 190;
	width: 240px;
	min-height: 56px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 19px;
	margin-top: 21px;
	position: relative;
}

#pu539
{
	width: 0.01px;
	margin-left: 46px;
	margin-top: 21px;
}

#u539
{
	z-index: 188;
	width: 155px;
	min-height: 139px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 31px;
}

#u535
{
	z-index: 189;
	width: 95px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
}

#u531
{
	z-index: 200;
	vertical-align: top;
	width: 156px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 29px;
	background: url("../images/u531.png") no-repeat 0px 0px;
}

.hidpi #u531
{
	background-image: url("../images/u531_2x.png");
	background-size: 156px 2px;
}

#u661
{
	z-index: 201;
	width: 95px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 118px;
}

#buttonu651
{
	z-index: 156;
	width: 205px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 246px;
}

#buttonu646.ButtonSelected,#buttonu651:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u653
{
	z-index: 157;
	width: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 9px;
}

#buttonu646.ButtonSelected #u647,#buttonu651:hover #u653
{
	width: 19px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u652-4
{
	z-index: 159;
	width: 164px;
	min-height: 44px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 33px;
}

#buttonu646.ButtonSelected #u649-4,#buttonu651:hover #u652-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 164px;
	margin: 9px -10000px 0px 0px;
}

#u256
{
	z-index: 124;
	width: 250px;
	min-height: 336px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 560px;
}

#three
{
	margin-left: 21px;
	margin-top: 165px;
	position: relative;
}

#u255-4
{
	z-index: 6;
	width: 440px;
	min-height: 32px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 170px;
	position: relative;
}

#pu251
{
	width: 0.01px;
	margin-left: 48px;
}

#u251
{
	z-index: 14;
	width: 87px;
	background-color: transparent;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u245 .clip_frame,#u251 .clip_frame
{
	-webkit-border-radius: 100px 100px 100px 100px;
}

#u254-4
{
	z-index: 10;
	width: 592px;
	min-height: 77px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 109px;
}

#u431-4
{
	z-index: 25;
	width: 105px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 85px;
	margin-top: 10px;
	position: relative;
}

#pu429
{
	width: 0.01px;
	margin-left: 85px;
	margin-top: -6px;
}

#u429
{
	z-index: 3;
	width: 415px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u663-4
{
	z-index: 40;
	width: 127px;
	min-height: 21px;
	background-color: transparent;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 425px;
}

#u426-4
{
	z-index: 29;
	width: 105px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 85px;
	margin-top: 11px;
	position: relative;
}

#pu420
{
	width: 0.01px;
	margin-left: 85px;
	margin-top: -2px;
}

#u420
{
	z-index: 2;
	width: 415px;
	min-height: 17px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u664-4
{
	z-index: 44;
	width: 127px;
	min-height: 21px;
	background-color: transparent;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 425px;
}

#u663,#u664
{
	font-family: asap, sans-serif;
	font-weight: 400;
}

#ppu427-4
{
	width: 0.01px;
	margin-left: 85px;
	margin-top: -4px;
}

#pu427-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 18px;
}

#u427-4
{
	z-index: 21;
	width: 105px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-left: 1px;
	position: relative;
}

#pu422
{
	width: 0.01px;
	margin-top: -5px;
}

#u422
{
	z-index: 4;
	width: 416px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u666-4
{
	z-index: 48;
	width: 127px;
	min-height: 21px;
	background-color: transparent;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 425px;
}

#u428-4
{
	z-index: 17;
	width: 73px;
	min-height: 23px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-top: 10px;
	position: relative;
}

#u424
{
	z-index: 5;
	width: 416px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u667-4
{
	z-index: 52;
	width: 127px;
	min-height: 21px;
	background-color: transparent;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 425px;
}

#buttonu615
{
	z-index: 33;
	width: 67px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 100px;
	margin-top: 18px;
	position: relative;
}

#buttonu615:hover
{
	background-color: #CACACA;
	width: 67px;
	min-height: 0px;
	margin: 18px 0px 0px;
}

#buttonu615.ButtonSelected
{
	background-color: #FFFFFF;
	width: 67px;
	min-height: 0px;
	margin: 18px 0px 0px;
}

#u618-4
{
	z-index: 36;
	width: 39px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	text-align: right;
	font-size: 11px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 5px;
}

#buttonu359.ButtonSelected #u362-4,#buttonu615:hover #u618-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 39px;
	margin: 9px -10000px 0px 0px;
}

#buttonu615.ButtonSelected #u618-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 39px;
	margin: 9px -10000px 0px 0px;
}

#u616
{
	z-index: 34;
	width: 13px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 47px;
}

#buttonu615:hover #u616
{
	width: 13px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#buttonu615.ButtonSelected #u616
{
	width: 13px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#u616_img
{
	padding-bottom: 1px;
}

#u621-4
{
	z-index: 145;
	width: 105px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-top: 15px;
	position: relative;
}

#u432
{
	z-index: 70;
	width: 504px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#pamphletu553
{
	z-index: 91;
	width: 0.01px;
	height: 56px;
	margin-left: 28px;
	margin-top: 12px;
	position: relative;
}

#u554
{
	z-index: 92;
	width: 205px;
	position: relative;
	margin-right: -10000px;
}

#u555
{
	position: absolute;
	width: 205px;
	height: 56px;
	border-color: #999999;
	background-color: transparent;
}

.ie #u542:hover,.ie #u555
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u555:hover
{
	border-color: #6B6B6B;
	width: 205px;
	height: 56px;
	min-height: 0px;
	margin: 0px;
}

#u561
{
	position: absolute;
	width: 390px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -455px;
	left: 309px;
	-pie-background: rgba(0,0,0,0.9);
}

#u561popup
{
	z-index: 94;
}

#u562
{
	z-index: 95;
	width: 346px;
	height: 386px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u685
{
	z-index: 96;
	width: 346px;
	min-height: 386px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u568-6
{
	z-index: 97;
	width: 288px;
	min-height: 56px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 25px;
}

#u564
{
	z-index: 103;
	width: 200px;
	min-height: 212px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 174px;
	left: 72px;
}

#u569
{
	z-index: 104;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 259px;
}

#u563-4
{
	z-index: 106;
	width: 189px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 66px;
}

#u579
{
	z-index: 110;
	width: 95px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 67px;
}

#u683
{
	z-index: 111;
	width: 95px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 225px;
	left: 184px;
}

#pbuttonu673
{
	width: 0.01px;
	margin-left: 28px;
	margin-top: -56px;
}

#buttonu673
{
	z-index: 56;
	width: 205px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
}

#buttonu651.ButtonSelected,#buttonu673:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u674
{
	z-index: 57;
	width: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 9px;
}

#buttonu651.ButtonSelected #u653,#buttonu673:hover #u674
{
	width: 19px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u676-4
{
	z-index: 59;
	width: 164px;
	min-height: 44px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 33px;
}

#buttonu651.ButtonSelected #u652-4,#buttonu673:hover #u676-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 164px;
	margin: 9px -10000px 0px 0px;
}

#pamphletu588
{
	z-index: 71;
	width: 0.01px;
	height: 53px;
	position: relative;
	margin-right: -10000px;
	left: 238px;
}

#u607
{
	z-index: 72;
	width: 205px;
	position: relative;
	margin-right: -10000px;
}

#u608
{
	position: absolute;
	width: 205px;
	height: 53px;
	border-color: #999999;
	background-color: transparent;
}

.ie #u555:hover,.ie #u608
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u608:hover
{
	border-color: #6B6B6B;
	width: 205px;
	height: 53px;
	min-height: 0px;
	margin: 0px;
}

.ie #u608:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u591
{
	position: absolute;
	width: 393px;
	border-style: none;
	border-color: transparent;
	background-color: #191919;
	background-color: rgba(0,0,0,0.9);
	padding-bottom: 44px;
	top: -350px;
	left: 217px;
	-pie-background: rgba(0,0,0,0.9);
}

#u591popup
{
	z-index: 74;
}

#u592
{
	z-index: 75;
	width: 349px;
	height: 384px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u689
{
	z-index: 76;
	width: 301px;
	min-height: 326px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 33px;
}

#u601
{
	z-index: 77;
	width: 155px;
	min-height: 171px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 213px;
	left: 107px;
}

#u595
{
	z-index: 78;
	width: 95px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 271px;
	left: 60px;
}

#u687
{
	z-index: 79;
	width: 95px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 271px;
	left: 204px;
}

#u599-4
{
	z-index: 80;
	width: 288px;
	min-height: 56px;
	background-color: transparent;
	text-align: center;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 39px;
}

#u593
{
	z-index: 84;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 255px;
}

#u597-4
{
	z-index: 86;
	width: 166px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 83px;
}

#u600
{
	z-index: 90;
	vertical-align: top;
	width: 156px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 232px;
	left: 105px;
	background: url("../images/u600.png") no-repeat 0px 0px;
}

.hidpi #u600
{
	background-image: url("../images/u600_2x.png");
	background-size: 156px 2px;
}

#buttonu678
{
	z-index: 63;
	width: 205px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	position: relative;
	margin-right: -10000px;
	left: 238px;
}

#buttonu673.ButtonSelected,#buttonu678:hover
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu678.ButtonSelected
{
	width: 205px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u679
{
	z-index: 64;
	width: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 9px;
}

#buttonu673.ButtonSelected #u674,#buttonu678:hover #u679
{
	width: 19px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#buttonu678.ButtonSelected #u679
{
	width: 19px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u681-4
{
	z-index: 66;
	width: 164px;
	min-height: 44px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 33px;
}

#buttonu673.ButtonSelected #u676-4,#buttonu678:hover #u681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 164px;
	margin: 9px -10000px 0px 0px;
}

#buttonu678.ButtonSelected #u681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 44px;
	width: 164px;
	margin: 9px -10000px 0px 0px;
}

#u258
{
	z-index: 16;
	width: 250px;
	min-height: 336px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 561px;
}

#accordionu833
{
	z-index: 305;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	position: fixed;
	bottom: -2px;
}

#u834
{
	z-index: 306;
	background-color: transparent;
}

#u835-3
{
	z-index: 307;
	min-height: 52px;
	border-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 14px;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	background: #FFFFFF url("../images/myplaylistsclose.png") no-repeat left center;
}

#u835-3:hover
{
	border-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 52px;
	margin: 0px;
	background: #FFFFFF url("../images/myplaylistsclose.png") no-repeat left center;
}

#u835-3:active
{
	border-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 52px;
	margin: 0px;
	background: #FFFFFF url("../images/myplaylistsclose.png") no-repeat left center;
}

#u835-3.AccordionPanelTabOpen
{
	border-style: none;
	border-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 52px;
	margin: 0px;
	background: #FFFFFF url("../images/myplaylists.png") no-repeat left top;
}

#u835-3.AccordionPanelTabOpen p
{
	color: #4F4F4F;
	visibility: inherit;
}

.hidpi #u835-3,.hidpi #u835-3:hover,.hidpi #u835-3:active
{
	background-image: url("../images/myplaylistsclose_2x.png");
	background-size: 175px 50px;
}

.hidpi #u835-3.AccordionPanelTabOpen
{
	background-image: url("../images/myplaylists_2x.png");
	background-size: 175px 50px;
}

#u836
{
	z-index: 310;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 20px;
}

#u838
{
	z-index: 311;
	width: 204px;
	min-height: 81px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
	left: 99px;
}

#pu837-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 115px;
	margin-left: 311px;
}

#u837-4
{
	z-index: 312;
	width: 210px;
	min-height: 36px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
}

#u840-4
{
	z-index: 316;
	width: 210px;
	min-height: 26px;
	background-color: transparent;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-top: 1px;
	position: relative;
}

#u841-4
{
	z-index: 324;
	width: 30px;
	min-height: 21px;
	background-color: transparent;
	font-family: asap, sans-serif;
	font-weight: 400;
	margin-top: 9px;
	position: relative;
}

#u842-4
{
	z-index: 320;
	width: 210px;
	min-height: 87px;
	background-color: transparent;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
}

#ppu863-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 20px;
	margin-left: 605px;
}

#pu364,#pu863-4
{
	width: 0.01px;
}

#u863-4
{
	z-index: 336;
	width: 338px;
	min-height: 76px;
	background-color: transparent;
	line-height: 43px;
	text-align: center;
	font-size: 36px;
	font-family: asap, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u864
{
	z-index: 340;
	width: 43px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 63px;
}

#u866-4
{
	z-index: 342;
	width: 453px;
	min-height: 22px;
	background-color: transparent;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	font-family: asap, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
}

#u857-4
{
	z-index: 332;
	width: 141px;
	min-height: 19px;
	background-color: transparent;
	font-family: asap, sans-serif;
	font-weight: 700;
	margin-left: 1px;
	margin-top: 11px;
	position: relative;
}

#pu424,#pu855
{
	width: 0.01px;
	margin-top: -3px;
}

#u855
{
	z-index: 330;
	width: 150px;
	min-height: 76px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u853
{
	z-index: 331;
	width: 454px;
	min-height: 196px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#pu851
{
	width: 0.01px;
	margin-left: 103px;
	margin-top: 17px;
}

#u851
{
	z-index: 329;
	width: 100px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u849
{
	z-index: 328;
	width: 130px;
	min-height: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 118px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton,.AccordionPanelTab /* pamphlet2 */
{
	cursor: pointer;
}

#accordionu833-bw
{
	z-index: 305;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

