.version.index /* version checker */
{
	color: #00001B;
	background-color: #CBB328;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 3304px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u124
{
	z-index: 84;
	height: 111px;
	background-color: #000000;
}

#u124-bw
{
	z-index: 84;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -36px;
}

#home
{
	position: relative;
}

#u149
{
	z-index: 89;
	width: 48px;
	background-color: transparent;
	position: fixed;
	top: 20px;
	left: 20px;
}

#u132-4
{
	z-index: 85;
	width: 274px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 37px;
	font-size: 31px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	position: fixed;
	top: 21px;
	left: 79px;
}

#u158-4
{
	z-index: 95;
	width: 121px;
	min-height: 16px;
	background-color: transparent;
	line-height: 23px;
	color: #FFFFFF;
	text-align: center;
	font-size: 19px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 28px;
	left: 480px;
}

#u159-4
{
	z-index: 99;
	width: 117px;
	min-height: 16px;
	background-color: transparent;
	line-height: 23px;
	color: #FFFFFF;
	text-align: center;
	font-size: 19px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 28px;
	left: 634px;
}

#u160-4
{
	z-index: 103;
	width: 109px;
	min-height: 16px;
	background-color: transparent;
	line-height: 23px;
	color: #FFFFFF;
	text-align: center;
	font-size: 19px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 28px;
	left: 783px;
}

#u156-4
{
	z-index: 91;
	width: 112px;
	min-height: 27px;
	background-color: transparent;
	line-height: 12px;
	color: #FFFFFF;
	text-align: left;
	font-size: 10px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 300;
	position: fixed;
	top: 58px;
	left: 79px;
}

#u161
{
	z-index: 107;
	width: 43px;
	height: 2px;
	background-color: #FFFFFF;
	position: fixed;
	top: 60px;
	left: 519px;
}

#u162
{
	z-index: 108;
	width: 43px;
	height: 2px;
	background-color: #FFFFFF;
	position: fixed;
	top: 61px;
	left: 671px;
}

#u163
{
	z-index: 109;
	width: 43px;
	height: 2px;
	background-color: #FFFFFF;
	position: fixed;
	top: 60px;
	left: 816px;
}

#u114
{
	z-index: 120;
	width: 50px;
	min-height: 25px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -179px;
	margin-top: 67px;
	position: relative;
}

#u75
{
	z-index: 119;
	width: 60px;
	min-height: 64px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -184px;
	margin-top: 49px;
	position: relative;
}

#u82-4
{
	z-index: 69;
	width: 248px;
	min-height: 41px;
	background-color: transparent;
	line-height: 48px;
	text-align: center;
	font-size: 40px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	margin-left: 356px;
	margin-top: 40px;
	position: relative;
}

#u170
{
	z-index: 77;
	width: 170px;
	height: 1px;
	background-color: #7F7F7F;
	margin-left: 395px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#pu237
{
	width: 0.01px;
	margin-left: -17px;
	margin-top: 8px;
}

#u237
{
	z-index: 65;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u168-4
{
	z-index: 73;
	width: 351px;
	min-height: 63px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	left: 321px;
}

#u171-4
{
	z-index: 78;
	width: 226px;
	min-height: 40px;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 300;
	margin-left: 367px;
	margin-top: 151px;
	position: relative;
}

#u172
{
	z-index: 82;
	width: 39px;
	background-color: transparent;
	margin-left: 461px;
	position: relative;
}

#one
{
	margin-left: 20px;
	margin-top: 99px;
	position: relative;
}

#u81-4
{
	z-index: 27;
	width: 440px;
	min-height: 32px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	margin-left: 42px;
	margin-top: 96px;
	position: relative;
}

#u178
{
	z-index: 36;
	width: 120px;
	background-color: transparent;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u167-4
{
	z-index: 32;
	width: 592px;
	min-height: 120px;
	background-color: transparent;
	line-height: 19px;
	text-align: left;
	font-size: 16px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 142px;
}

#pppu192
{
	width: 0.01px;
	margin-left: 75px;
	margin-top: 35px;
}

#ppu192
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#page_position_content,#pu192
{
	width: 0.01px;
}

#u192
{
	z-index: 42;
	width: 485px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	border-radius: 10px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 1px;
}

#pu190
{
	width: 0.01px;
	margin: 7px -10000px -36px 13px;
}

#u190
{
	z-index: 43;
	width: 302px;
	min-height: 29px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u216
{
	z-index: 110;
	width: 367px;
	min-height: 69px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
}

#buttonu199
{
	z-index: 44;
	width: 67px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 100px;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 413px;
}

#buttonu199:hover
{
	background-color: #CACACA;
	width: 67px;
	min-height: 0px;
	margin: 76px -10000px 0px 0px;
}

#buttonu199.ButtonSelected
{
	background-color: #FFFFFF;
	width: 67px;
	min-height: 0px;
	margin: 76px -10000px 0px 0px;
}

#u243-4
{
	z-index: 47;
	width: 39px;
	min-height: 15px;
	background-color: transparent;
	line-height: 13px;
	text-align: right;
	font-size: 11px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#buttonu199:hover #u243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 39px;
	margin: 7px -10000px 0px 0px;
}

#buttonu199.ButtonSelected #u243-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 15px;
	width: 39px;
	margin: 7px -10000px 0px 0px;
}

#u203
{
	z-index: 45;
	width: 18px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 44px;
}

#buttonu199:hover #u203
{
	width: 18px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#buttonu199.ButtonSelected #u203
{
	width: 18px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#u241
{
	z-index: 66;
	vertical-align: top;
	width: 302px;
	height: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 16px;
	background: url("../images/u241.png") no-repeat 0px 0px;
}

.hidpi #u241
{
	background-image: url("../images/u241_2x.png");
	background-size: 302px 2px;
}

#u220-4
{
	z-index: 111;
	width: 351px;
	min-height: 20px;
	background-color: transparent;
	text-align: left;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 16px;
}

#u221-4
{
	z-index: 115;
	width: 407px;
	min-height: 20px;
	background-color: transparent;
	line-height: 16px;
	text-align: center;
	font-size: 13px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
}

#u184-4
{
	z-index: 38;
	width: 105px;
	min-height: 22px;
	background-color: transparent;
	text-align: left;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 300;
	margin-left: 3px;
	margin-top: 4px;
	position: relative;
}

#u166
{
	z-index: 31;
	width: 480px;
	height: 246px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 1px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#pbuttonu212
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 19px;
}

#buttonu212
{
	z-index: 51;
	width: 175px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#buttonu212:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u206
{
	z-index: 56;
	width: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 7px;
}

#buttonu212:hover #u206
{
	width: 19px;
	min-height: 0px;
	margin: 18px -10000px 0px 0px;
}

#u215-4
{
	z-index: 52;
	width: 136px;
	min-height: 6px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 31px;
}

#buttonu212:hover #u215-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	width: 136px;
	margin: 7px -10000px 0px 0px;
}

#buttonu228
{
	z-index: 58;
	width: 175px;
	border-color: #787878;
	background-color: #CACACA;
	border-radius: 10px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 223px;
}

#buttonu212.ButtonSelected,#buttonu228:hover
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#buttonu228.ButtonSelected
{
	width: 175px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u230
{
	z-index: 63;
	width: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 7px;
}

#buttonu212.ButtonSelected #u206,#buttonu228:hover #u230
{
	width: 19px;
	min-height: 0px;
	margin: 18px -10000px 0px 0px;
}

#buttonu228.ButtonSelected #u230
{
	width: 19px;
	min-height: 0px;
	margin: 18px -10000px 0px 0px;
}

#u229-4
{
	z-index: 59;
	width: 136px;
	min-height: 6px;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	font-size: 17px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 31px;
}

#buttonu212.ButtonSelected #u215-4,#buttonu228:hover #u229-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	width: 136px;
	margin: 7px -10000px 0px 0px;
}

#buttonu228.ButtonSelected #u229-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 6px;
	width: 136px;
	margin: 7px -10000px 0px 0px;
}

#u185
{
	z-index: 67;
	width: 250px;
	min-height: 336px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 576px;
}

#u289
{
	z-index: 68;
	width: 200px;
	min-height: 100px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 359px;
	left: 586px;
}

#two
{
	margin-left: 42px;
	margin-top: 264px;
	position: relative;
}

#u244-4
{
	z-index: 14;
	width: 898px;
	min-height: 32px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	margin-left: 42px;
	margin-top: 100px;
	position: relative;
}

#pu245
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: 21px;
}

#u245
{
	z-index: 23;
	width: 120px;
	background-color: transparent;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u248-5
{
	z-index: 18;
	width: 592px;
	min-height: 139px;
	background-color: transparent;
	text-align: left;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 142px;
}

#pu250
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: 34px;
}

#u250
{
	z-index: 25;
	width: 519px;
	height: 378px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u256
{
	z-index: 26;
	width: 250px;
	min-height: 336px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 609px;
}

#three
{
	margin-left: 42px;
	margin-top: 64px;
	position: relative;
}

#u255-4
{
	z-index: 2;
	width: 440px;
	min-height: 32px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	margin-left: 42px;
	margin-top: 80px;
	position: relative;
}

#pu178,#pu251
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: 20px;
}

#u251
{
	z-index: 10;
	width: 120px;
	background-color: transparent;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u178 .clip_frame,#u245 .clip_frame,#u251 .clip_frame
{
	-webkit-border-radius: 100px 100px 100px 100px;
}

#u254-4
{
	z-index: 6;
	width: 592px;
	min-height: 120px;
	background-color: transparent;
	text-align: left;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 142px;
}

#pu267
{
	width: 0.01px;
	margin-left: 42px;
	margin-top: 53px;
}

#u267
{
	z-index: 12;
	width: 508px;
	height: 334px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u258
{
	z-index: 13;
	width: 250px;
	min-height: 336px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 648px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

